.text-info {
    color: #17a2b8;
  }
  
  .fst-italic {
    font-style: sans-serif;
  }
  
  .fw-normal {
    font-weight: 400;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 2px solid #17a2b8;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  input[type="checkbox"]:checked {
    background-color: #17a2b8;
  }
  
  input[type="checkbox"]:checked::before {
    content: "\2713";
    display: block;
    color: white;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
  }
  
  input[type="checkbox"]:hover {
    background-color: #d9edf7;
  }
  
.section-title {
  font-weight: bold;
  color: black;
}
.mat-mdc-dialog-content {
  max-height: 84vh;
}
